// Resets
* {
  margin:       0;
  padding:      0;
  box-sizing:   border-box;
  font-family:  sans-serif;
}

//Colors
$white:             #FFFFFF;
$darkgrey:          #131313;
$turquoise:         #40E0D0;
$transparentBlack:  #00000033;
$black:             #000000;

//Box shadows
$searchFormShadow:  0 2px 5px $transparentBlack;
$formInputShadow:   0 2px 0px $turquoise;

//Variables
$breakXXL: 2400px;
$breakXL: 1800px;
$breakL:  1200px;
$breakM: 768px;

$imageWidth: 16.66%;
$imageWidthXXL: 20%;
$imageWidthXL: 25%;
$imageWidthL: 33.333%;
$imageWidthM: 50%;

$containerWidth: 70%;
$containerWidthXXL: 75%;
$containerWidthXL: 80%;
$containerWidthL: 85%;
$containerWidthM: 90%;