.app {
  width: 100%;
  height: 100%;
}

.searchForm {
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
  align-items:      center;
  text-align:       center;
  background-color: $transparentBlack;
  height:           120px;
  width:            100%;
  border-radius:    4px;
  margin:           25px auto 50px;
  box-shadow:       $searchFormShadow;
}

.formTitle {
  font-weight:  400;
  margin:       8px 0;
  color:        $white;
}

.formInput {
  position:         relative;
  width:            calc(17.5% + 200px);
  max-width:        90%;
  margin:           8px auto;
  padding:          5px 8px;
  border-radius:    2px;
  border:           none;
  outline:          none;
  font-size:        110%;
  color:            lighten($turquoise, 10);
  background-color: $darkgrey;
  transition:       box-shadow 100ms ease-out;

  &:focus {
    box-shadow: $formInputShadow;
  }

}

.imageContainer,
.infinite-scroll-component {
  overflow: hidden!important;
  max-width: 100%;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

}

.imageCardSizer,
.imageCard {
  
  width: $imageWidth;

  @media screen and (max-width: $breakXXL) {
    width: $imageWidthXXL;
  }

  @media screen and (max-width: $breakXL) {
    width: $imageWidthXL;
  }

  @media screen and (max-width: $breakL) {
    width: $imageWidthL;
  }

  @media screen and (max-width: $breakM) {
    width: $imageWidthM;
  }

}




.imageCard {
  float: left;
  padding: 5px;


  img {
    display: block;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }


  &.hidden {
    opacity: .075;

    img {

      &:hover {
        pointer-events: none;
        cursor: default;
      }
    }
  }

  &.blurred {
    filter: blur(1px);
  }
 
}

.Modal {
  border: none!important;
  outline: none!important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000BB;
}