
.container{
  max-width:        $containerWidth;
  margin:           0 auto;
  position:         relative;
  overflow:         visible;
  background-color: transparent;

  @media screen and (max-width: $breakXXL) {
    max-width: $containerWidthXXL;
  }

  @media screen and (max-width: $breakXL) {
    max-width: $containerWidthXL;
  }

  @media screen and (max-width: $breakL) {
    max-width: $containerWidthL;
  }

  @media screen and (max-width: $breakM) {
    max-width: $containerWidthM;
  }
}

