html {
  background-color: $darkgrey;
}

.container{
  max-width:        80%;
  margin:           0 auto;
  position:         relative;
  overflow:         visible;
  background-color: transparent;

  @media screen and (max-width: $breakLarge) {
    max-width: 85%;
  }

  @media screen and (max-width: $breakMedium) {
    max-width: 90%;
  }
}

