// Resets
* {
  margin:       0;
  padding:      0;
  box-sizing:   border-box;
  font-family:  sans-serif;
}

//Colors
$white:             #FFFFFF;
$halfWhite:         #FFFFFFAA;
$thirdWhite:        #FFFFFF55;
$transparentWhite:  #FFFFFF0A;
$darkgrey:          #131313;
$turquoise:         #40E0D0;
$transparentBlack:  #00000033;
$black:             #000000;

//Box shadows
$searchFormShadow:  0 2px 5px $transparentBlack;
$formInputShadowBlur:   0px 2px 0px $transparentWhite;
$formInputShadowFocus:   0px 2px 0px $thirdWhite;

//Variables
$breakXXL: 2400px;
$breakXL: 1800px;
$breakL:  1200px;
$breakM: 768px;

$imageWidth: 16.66%;
$imageWidthXXL: 20%;
$imageWidthXL: 25%;
$imageWidthL: 33.333%;
$imageWidthM: 50%;

$containerWidth: 75%;
$containerWidthXXL: 80%;
$containerWidthXL: 85%;
$containerWidthL: 90%;
$containerWidthM: 95%;