html {
  background-color: $darkgrey;
}

.App {
  width:  100%;
  height: 100%;
}

header {
  position: sticky;
  top:      0;
  z-index:  1;
}

.searchForm {
  display:                grid;
  grid-template-columns:  2fr 3fr;
  align-items:            end;
  background-color:       $darkgrey;
  width:                  100%;
  padding:                20px 0;

  @media screen and (max-width: $breakM) {
    grid-template-columns: 1fr;
  }
}

.formTitle {
  color:            #ffffff;
  font-family:      'Yellowtail', sans-serif;
  font-size:        40px;
  text-align:       center;
  text-decoration:  none;
  width:            fit-content;
  margin:           0 auto;
  user-select:      none;
  
}

.formInputContainer {
  position:         relative;
  width:            calc(20% + 200px);
  max-width:        90%;
  margin:           8px auto;
  padding:          5px 30px 5px 7px;
  box-shadow:       $formInputShadowBlur;
  transition:       box-shadow 150ms ease-out,
                    color 150ms ease-out;
  &:focus-within {
      box-shadow: $formInputShadowFocus;
  }

  .formInput {
    border:           none;
    outline:          none;
    font-size:        110%;
    color:            $whiteFF;
    background-color: transparent;
    font-family:      'Josefin Sans', sans-serif;
    width:            100%;
  
    &::placeholder {
      font-family:  'Josefin Sans', sans-serif;
      user-select:  none;
    }
  }

  .searchIcon {
    position:         absolute;
    top:              50%;
    right:            7px;
    transform:        translateY(-50%);
    background-color: transparent;
    color:            $white10;
    border:           none;
    outline:          none;
    font-size:        14px;
    cursor:           pointer;
  }

  &:focus-within .searchIcon{
    color: $whiteAA;
  }

}

.imageCardContainer,
.infinite-scroll-component {
  overflow:   hidden!important;
  max-width:  100%;
  margin:     10px 0 50px;
  
  &:after {
    content:  '';
    display:  block;
    clear:    both;
  }
}

.imageCardSizer,
.imageCard {
  width: $imageWidth;

  @media screen and (max-width: $breakXXL) {
    width: $imageWidthXXL;
  }

  @media screen and (max-width: $breakXL) {
    width: $imageWidthXL;
  }

  @media screen and (max-width: $breakL) {
    width: $imageWidthL;
  }

  @media screen and (max-width: $breakM) {
    width: $imageWidthM;
  }

}

.imageCard {
  float:        left;
  padding:      5px;
  user-select:  none;

  img {
    display:        block;
    width:          100%;
    border-radius:  3px;

    &:hover {
      cursor: pointer;
    }
  }


  &.hidden {
    opacity: .075;

    img {
      &:hover {
        pointer-events: none;
        cursor:         default;
      }
    }
  }
}

.Modal {
  border:     none!important;
  outline:    none!important;
  position:   absolute;
  left:       50%;
  top:        50%;
  transform:  translate(-50%, -50%);
  img {
    max-width:  90vw;
    max-height: 90vh;
    object-fit: contain;
    user-select: none;
  }
}

.Overlay {
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  background-color: $blackBB;
  z-index:          2;
  backdrop-filter:  blur(3px);
}
