.app {
  width: 100%;
  height: 100%;
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $transparentBlack;
  height: 160px;
  width: 100%;
  border-radius: 4px;
  margin: 50px auto;
  box-shadow: $searchFormShadow;
}

.formTitle {
  font-weight: 400;
  margin: 8px 0;
  color: $white;
}

.formInput {
  position: relative;
  width: calc(17.5% + 100px);
  max-width: 90%;
  margin: 8px auto;
  padding: 5px 8px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 110%;
  color: lighten($turquoise, 10);
  background-color: $darkgrey;
  transition: box-shadow 100ms ease-out;

  &:focus {
    box-shadow: $formInputShadow;
  }

}

.imageList {
  width: 100%;
  columns: 4;
  column-gap: 10px;
}

.imageCard {
  width: 100%;
  margin: 2.5px 0;
  // img {
  //   max-width: 100%;
  // }
}